$yellow: #F5992D;
$red: #CB462A;
$fuscia: #FF4081;
$navy: #2F445F;
$green: rgb(164, 198, 57);
$blue: rgb(0, 188, 212);
$light-gray: #AAAAAA;
$medium-gray: #666666;
$dark-gray: #2A3132;
$white: #FFFFFF;
$offwhite: #F5F5F5;

$header-height: 65px;

$gutter-size: 1rem;
