@import 'variables';

.add-budget-item {
  header {
    position: relative;
    margin: 2px;
    background: #EEE;
    padding: 0 1rem;
    line-height: 50px;
    font-size: 16px;
    font-weight: 500;

    button {
      position: absolute;
      top: 0;
      right: 1rem;
      bottom: 0;
      margin: auto;
      padding: 0;
    }
  }
}
