@import 'variables';

.add-category {
  .category-button {
    width: 33.3%;
    display: inline-block;
    padding: 5px;

    button {
      position: relative;
      width: 100%;
      font-size: 12px !important;

      div {
        text-align: left;
        padding-left: 34px;
      }

      i {
        position: absolute;
        width: 24px;
        height: 24px;
        top: 0;
        bottom: 0;
        left: 5px;
        margin: auto;
      }
    }
  }

  .custom-label {
    display: inline-block;
    width: 66%;
  }

  .custom-label-enter {
    opacity: 0;
    height: 0;
  }
  .custom-label-enter.custom-label-enter-active {
    opacity: 1;
    height: 72px;
    transition: 500ms;
  }
  .custom-label-leave {
    opacity: 1;
    height: 72px;
  }
  .custom-label-leave.custom-label-leave-active {
    opacity: 0;
    height: 0;
    transition: 700ms;
  }
}
