@import 'variables';

.add-budget-item {
  header {
    position: relative;
    margin: 2px;
    background: #EEE;
    border-bottom: 1px solid #E2E2E2;
    padding: 0 $gutter-size;
    line-height: 50px;
    font-size: 16px;
    font-weight: 500;

    button {
      position: absolute;
      top: 0;
      right: $gutter-size;
      bottom: 0;
      margin: auto;
      padding: 0;
    }
  }

  .button-wrapper {
    position: absolute;
    left: $gutter-size;
    right: $gutter-size;
    bottom: $gutter-size;

    .submit-button {
      width: 100%;

      i {
        color: #FFF;
      }
    }
  }
}
