@import 'variables';

.add-budget-item {
  position: absolute;
  z-index: 2;
  top: $header-height;
  left: 0;
  right: 0;
  bottom: 0;

  .backdrop {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
  }

  .drawer {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: -100px;
    height: 400px;
    padding: 1rem;
    background: $white;
    will-change: true;
  }

}

.add-budget-item-enter {
  .backdrop {
    opacity: 0;
  }
}

.add-budget-item-enter.add-budget-item-enter-active {
  .backdrop {
    opacity: 1;
    transition: opacity 350ms;
  }
}

.add-budget-item-leave {
  .backdrop {
    opacity: 1;
  }
}

.add-budget-item-leave.add-budget-item-leave-active {
  .backdrop {
    opacity: 0;
    transition: opacity 600ms;
  }
}
