@import 'variables';

.button-toggle-group {
  .button-wrapper {
    width: 33.3%;
    display: inline-block;
    padding: 0 6px 6px 0;

    button {
      position: relative;
      width: 100%;
      font-size: 12px !important;
      color: $dark-gray !important;
      text-align: left !important;
      padding-left: 34px !important;

      &:disabled {
        background-color: rgba(0,0,0,0.05) !important;
        opacity: 0.5;
      }

      &.selected {
        background-color: $blue !important;
        color: $white !important;
        transition: 300ms !important;
      }

      div {

      }

      i {
        position: absolute;
        width: 24px;
        height: 24px;
        top: 0;
        bottom: 0;
        left: 5px;
        margin: auto;

      }
    }
  }
}
