@import 'variables';
@import 'mixins';
@import 'reset';

html, body, #render-target {
  height: 100%;
  width: 100%;
}

body, input, textarea, select, button {
  font-family: 'Raleway';
}

#home {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

// World's simplest flexbox grid
.flex-row {
  display: flex;

  &.with-gutter {
    padding-left: $gutter-size;

    & > .flex-cell {
      padding-right: $gutter-size;
    }
  }

  .full, .one-half, .one-third, .one-quarter {
    flex: 1;
  }
  .two-thirds {
    flex: 2;
  }

  .pulled-up {
    margin-top: $gutter-size * -1.5;
  }

}
